@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

header{
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.linha-azul{
    background-color: #170D8B;
    width: 100%;
    height: 67px;
}

.texto-principal h1{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    font-size: 55pt;
}

.texto-principal p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 350;
    font-size: 20pt;
    margin-top: -65px;

}

.texto-principal {
    margin-left: 50px;
}


.imagem-lateral{
    position: absolute;
    left: 650px;
    top: 70px;
}

.botao{
    position:relative;
    background-color: #FF8881;
    color: white;
    border-radius: 30px;
    border-color: #FF8881;
    width: 325px;
    height: 75px;
    left: 150px;
    button: 150px;
    font-size: 20pt;
}